*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}
body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
[class^=ligne]{
    display: flex;
}
[class^=grille]{
    width: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.333333333333333333%);
    border: solid black 2px;
}
.case {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.grille1{
    background-color: brown;
}
.grille2{
    background-color: pink;
}
.grille3{
    background-color: yellow;
}
