*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
div.megagrille{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,20%);
    border: solid black 3px;
}
div.grille1{
    display: grid;
    grid-column: 1/3;
    grid-row:1/3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    border: solid black 2px;
    background-color: red;
}
div.case{
    display: flex;
    justify-content: center;
    align-items: center;
}

