*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.megagrille{
    margin: 20px;
    width: 50%;
}
[class^=ligne]{
    display: flex;
}
.ligne1{
}
.grille1{
}
[class^=grille]{
    width: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%);
}
.case {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}
